.popup__error{
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    display: none;
    margin: 5px 0 0 0;
    padding: 0;
}

