.popup__button_type_save{
    background: #000000;
    border-radius: 2px;
    border: 0;
    max-width: 358px;
    min-height: 50px;
    color: #ffffff;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 0;
    margin: 48px 0 0 0;
    cursor: pointer;
}

.popup__button_type_save:hover{
    opacity: 0.6;
}