.page{
    border: 1px solid red;
    padding: 0;
    margin: 0 auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering:optimizeLegibility;
    min-width: 320px;
    max-width: 1280px;
    font-family: Inter, Arial, sans-serif;
}

