.places{
    border: 1px solid red;
    max-width: 880px;
    padding: 0;
    margin: 51px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3,minmax(22%, 1fr));
    column-gap: 1.32%;
    row-gap: 1.56%;
}

@media screen and (max-width: 1024px) {
    .places{  
        margin: 51px 3.75% 0 3.75%;
        max-width: 92.5%;
    }
} 

@media screen and (max-width: 880px) {
    .places{  
        grid-template-columns: repeat(2, minmax(44%,1fr));
    }
} 

@media screen and (max-width: 490px) {
    .places {
        grid-template-columns: repeat(1, minmax(100%,1fr));
        row-gap: 20px;
    }
} 