.icon_add{
    background-image: url(../../../images/add.svg);
    width: 22px;
    height: 22px;
    display: block;
}

@media screen and (max-width: 490px) {
    .icon_add {
        width: 16px;
        height: 16px;
    }
} 