.header__logo{
    border: 1px solid red;
    max-width: 142px;
    max-height: 33px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 490px) {
    .header__logo {
        max-width: 103.72px;
        max-height: 24.4px;
    }
} 