.profile__button_type_edit{
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    margin: 0 10px 0 18px;
    align-self: center;
    flex-shrink: 0;
}

.profile__button_type_edit:hover{
    opacity: 0.6;
}

@media screen and (max-width: 490px) {
    .profile__button_type_edit {
        width: 18px;
        height: 18px;
    }
}