.popup__close-btn{
    padding: 0;
    margin: 0;
    width: 48.28px;
    height: 48.28px;
    position: absolute;
    left: 100%;
    bottom: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer;
}

.popup__close-btn:hover{
    opacity: 0.6;
}

@media screen and (max-width: 550px) {
    .popup__close-btn {
        left: 90%;
        bottom: 105%;
        width: 18.62px;
        height: 18.62px;
    }
} 