.popup-image__window{        
    margin: 0 auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    max-width: 75vw;
    max-height: 75vh;
}

