.places__like-button{
    margin: 0 0 0 30px;
    padding: 0;
    align-self: center;
    border: 0;
    background-color: #FFFFFF;
    cursor: pointer;
}

.places__like-button:hover{
    opacity: 0.5;
}

