.icon_type_edit{
    background-image: url(../../../images/edit.svg);
    width: 10px;
    height: 10px;
    display: block;
}

@media screen and (max-width: 490px) {
    .icon_type_edit {
        width: 7.5px;
        height: 7.5px;
    }
} 