.icon_type_close{
    background-image: url(../../../images/close.svg);
    width: 40px;
    height: 40px;
    display: block;
}

@media screen and (max-width: 550px) {
    .icon_type_close {
        width: 26px;
        height: 26px;   
    }
} 