.footer{
    margin: 67px auto 60px auto;
    max-width: 880px;
}

@media screen and (max-width: 1024px) {
    .footer{  
        margin: 67px 3.75% 60px 3.75%;
        max-width: 92.5%;
    }
}

@media screen and (max-width: 490px) {
    .footer {
        margin: 48px 3.75% 36px 3.75%;
    }
} 