.places__trash{
    align-self: center;
    border: 0;
    cursor: pointer;
    background-image: url(../../../images/Trash.svg);
    background-color: rgba(255, 255, 255,0);
    position: absolute;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 19.3px;
    background-repeat: no-repeat;
    background-size: cover;
}

.places__trash:hover{
    opacity: 0.5;
}