.profile__button_type_add{
    min-width: 150px;
    min-height: 50px;
    background-color: #000000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    margin: auto 0 auto auto;
}

.profile__button_type_add:hover{
    opacity: 0.6;
}

@media screen and (max-width: 490px) {
    .profile__button_type_add {
        min-width: 100%;
        margin: 36px auto 0 auto;
    }
} 