.profile__describe{
    border: 1px solid yellow;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 490px) {
    .profile__describe {
        margin: 0 auto;
        font-size: 14px;
        line-height: 17px;
    }
} 